@import 'scss/colors';
@import 'scss/drozerah';

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    background-color: $bg;
    font-family: monospace;
    color:#333;
    font-size: 20px;
    #navbar, main{
        padding:40px;
    }
    #navbar{
        border-right: 2px dotted #333;
    }
    main{
        section{
            header{
                color:#333;
                font-size: 25px;
            }
        }
    }
}

.wrapper{
    h1{
        padding: 20px;
        border: 2px solid $primary;
        box-shadow: 5px 6px 0px $primary;
        font-size: 2em;
        color: inherit; 
    }
    div{
        text-align: center;
    }
}


