/* DROZERAH */

.drozerah {
    text-decoration: none;
    color:#333;
    font-size: 1em;
}

.drozerah svg {
    width:20px;
    height:20px;
    display: inline-block;
    vertical-align: -2px;
}

.drozerah path {
    fill: $primary;
    fill-rule: evenodd;
}

.drozerah span {
    display: inline-block;
    color: $primary;
}

.drozerah:hover path {
    fill:#333;
}

.drozerah:hover span {
    color: #333;
}